<div class="jumbotron">
    <h1>Open Purchase Orders</h1>
    <p class="lead">First, register either as a company or vendor to receive a product Key.  The product key allows uploading or quoting of Open Purchase Orders.  Vendors place Quotes on open POs for a limited time range of 60 days.  Lastly,  an electronic contract is formed between both parties for acceptance of the quote.</p>
    
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Register to receive your product key too upload or quote, Open Purchase Orders</p>
        <p>@Html.ActionLink("Register", "Registration", "Login",null, new {@class="btn btn-default"} )</p>
    </div>
    
</div>
