<div class="jumbotron">
    <h1>Open Purchase Orders</h1>
    <p class="lead">First, register, either as a company or vendor and receive a product Key.  Add the product key to your profile.  The product key allows you to upload purchase orders, if you are a company or place a quote, if you are a vendor.  Open POs are available for a limited time of 60 days.  Lastly, an electronic contract is formed between, the company and the vendor, for terms of payment and delivery.</p>
   
    <p>@Html.ActionLink("Add Purchase Order", "AccRec", "OpenPO", null, new { @class = "btn btn-default" })</p>
 
      <p>@Html.ActionLink("Add Purchase Order Quote", "Index", "OpenPO", null, new { @class = "btn btn-default" })</p>
 
    <p>@Html.ActionLink("Add Profile", "Profile", "AddressBook", null, new { @class = "btn btn-default" })</p>

</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Register to receive your product key too upload or quote, Open Purchase Orders</p>
        <p>@Html.ActionLink("Register", "Registration", "Login",null, new {@class="btn btn-default"} )</p>
    </div>
    
</div>
