<section class="siteContainer">
    <header>
        <h1>Purchase Order</h1>
        <section class="twoColumn">
            <!-- Company info -->
            <article class="companyName">
                <!-- Company name & slogan -->
                <h3 id="companyName">Company name</h3>
                <h4 id="slogan">company slogan</h4>
                <!-- Company address -->
                <p id="address">
                    Street Address, City, ZIP Code<br>
                    Phone 000-000-0000<br>
                    Fax 000-000-0000<br>
                    Email company@mail.com
                </p>
            </article>
            <!-- Purchase order number -->
            <article class="purchaseOrder">
                <p id="po">
                    P. O. # 000<br>
                    Date: 08/27/2017
                </p>
            </article>
        </section>
    </header>
    <main>
        <!-- Vendor & ship to address -->
        <section class="twoColumn">
            <!-- Vendor -->
            <article class="vendor">
                <h5>VENDOR</h5>
                <p id="vendorAddress">
                    Name<br>
                    Company name<br>
                    Street Address<br>
                    City, ST ZIP Code<br>
                    Phone 000-000-0000<br>
                    Customer ID
                </p>
            </article>
            <!-- Ship to -->
            <article class="shipTo">
                <h5>SHIP TO</h5>
                <p id="shipTo">
                    Name<br>
                    Company name<br>
                    Street Address<br>
                    City, ST ZIP Code<br>
                    Phone 000-000-0000<br>
                    Customer ID
                </p>
            </article>
        </section>
        <!-- Order details -->
        <section class="orderDetails">
            <!-- Qoute qty -->
            <article class="boxItems">
               <!-- 
                   <h2>QUOTE QTY</h2>
                <input type="text" name="qty" id="qty">
                   -->
            </article>
            <!-- Qoute price -->
            <article class="boxItems">
                <h2>QUOTE PRICE</h2>
                <input type="text" name="price" id="price">
            </article>
            <!-- Qoute total -->
            <article class="boxItems">
                <!-- 
                <h2>QUOTE TOTAL</h2>
                <p id="quoteTotal"></p>
                    -->
            </article>
            <!-- QTY / ITEM# / DESCRIPTION / JOB / UNIT PRICE / LINE TOTAL -->
            <!-- QTY -->
            <article class="boxItems">
                <h2>QTY</h2>
                <p id="qty"></p>
            </article>
            <!-- ITEM# -->
            <article class="boxItems">
                <h2>ITEM #</h2>
                <p id="itemNumber"></p>
            </article>
            <!-- DESCRIPTION -->
            <article class="boxItems">
                <h2>DESCRIPTION</h2>
                <p id="description"></p>
            </article>
            <!-- JOB -->
            <article class="boxItems">
                <h2>JOB</h2>
                <p id="job"></p>
            </article>
            <!-- UNIT PRICE -->
            <article class="boxItems">
                <h2>UNIT PRICE</h2>
                <p id="unitPrice"></p>
            </article>
            <!-- LINE TOTAL -->
            <article class="boxItems">
                <h2>LINE TOTAL</h2>
                <p id="lineTotal"></p>
            </article>
            <!-- SUBTOTAL / SALES TAX / TOTAL -->
            <!-- SUBTOTAL -->
            <article class="totals">
                <h2>SUBTOTAL</h2>
                <p id="subtotal"></p>
            </article>
            <!-- SALES TAX -->
            <article class="totals">
                <h2>SALES TAX</h2>
                <p id="salesTax"></p>
            </article>
            <!-- TOTAL -->
            <article class="totals">
                <h2>TOTAL</h2>
                <p id="total"></p>
            </article>
            <!-- Submit button -->
            <article class="button">
                <button type="button" name="button" id="submitButton">Submit</button>
            </article>
        </section>
    </main>
</section>
<!-- JS -->