<div ng-app="OpenPOModule">
    <div class="container-fluid">

        <div class="panel panel-primary">
            <div class="panel-heading"
                 style="font-size:large">
                Companies
            </div>
        </div>
        <input type="button" value="Load Purchase Order" class="btn btn-primary"
               ng-click="ViewModel.loadPurchaseOrder()" /><br />
        <span>{{responseData}}</span>
        <span>{{Message}}</span>

        <table class="table" ng-controller="PurchaseOrderController as ViewModel" ng-init="ViewModel.loadPeople()">
            <thead>
                <tr>
                    <th>Id</th>
         
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="purchaseorder in ViewModel.PurchaseOrders">
                    <td>{{purchaseorder.id}}</td>
                </tr>
            </tbody>
        </table>

    </div>

</div>